    <div class="container">
        <div class="d-flex justify-content-around flex-wrap">
            {{#each products}}
                <div class="card  mb-3" style="width: 18rem; border-radius: 10px;">
                    <div class="card-body">
                        <li>
                        {{#if thumbnails}}
                            <img src={{thumbnails}} class="card-img-top" alt="...">
                        {{else}}
                            <img src="https://img.freepik.com/vector-gratis/ilustracion-icono-galeria_53876-27002.jpg?w=740&t=st=1699187254~exp=1699187854~hmac=6dc0424826b7aa7168fb633cb9a20b855b2a863526e6e6a7f16a72dfa69f47ba" class="card-img-top" alt="...">
                        {{/if}}
                            <h5>{{code}}</h5>
                            <h4 class="card-title text-uppercase">{{title}}</h4>
                            <p class="card-text">{{description}}</p>
                            <p>Precio: {{price}}</p>
                            <a href="/products/{{_id}}" class="btn btn-primary btn-sm">Ver detalles</a>
                        </li>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="pagination mt-4">
            <nav aria-label="Paginaci칩n">
                <ul class="pagination justify-content-center">
                    {{#if pagination.hasPrevPage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{pagination.prevPage}}" aria-label="P치gina anterior">
                                &laquo; Anterior
                            </a>
                        </li>
                    {{/if}}
                    <li class="page-item active">
                        <span class="page-link">P치gina {{pagination.currentPage}} de {{pagination.totalPages}}</span>
                    </li>
                    {{#if pagination.hasNextPage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{pagination.nextPage}}" aria-label="P치gina siguiente">
                                Siguiente &raquo;
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>